# Created by https://www.toptal.com/developers/gitignore/api/java
# Edit at https://www.toptal.com/developers/gitignore?templates=java

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.png
*.html
*.gif
*.css
*.json
*.js
*.txt
*.lst

# Folder#
/simplicia-test-module/target
/framework/target
/controls/target


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/java

simplicia-test-module/src/main/java/com/simplicia/pages/web/utils/TestData_bk.java
simplicia-test-module/LOG/log_net_entreprises.log.*
simplicia-test-module/LOG/log_net_entreprises.log.1